<div class="cell auto-size padding20 bg-white" id="cell-content">
    <h1 class="text-light">Branches</h1>
    <hr class="thin bg-grayLighter">
    <!-- <button class="button primary" (click)="showDialog = !showDialog">
        <span class="mif-plus"></span> New </button>
        <app-dialog [(visible)]="showDialog"  [closable]="true">
            <branch-form (cancelAddBranch)="showDialog = !showDialog"></branch-form>            
          </app-dialog> -->
    <button class="button primary" >
                <a [routerLink]="BranchLink"><span class="mif-plus"></span> New </a>
    </button>    
    <button class="button success" onclick="pushMessage('success')">
        <span class="mif-list"></span> Edit</button>
    <button class="button alert" onclick="pushMessage('alert')">
        <span class="mif-bin"></span> Delete</button>
       
    <hr class="thin bg-grayLighter">
    <div id="Branches" class="dataTables_wrapper no-footer">
        <div id="DataTables_Table_0_filter" class="dataTables_filter">
            <label>Search:
                <input type="search" class="" placeholder="" aria-controls="DataTables_Table_0">
            </label>
        </div>
        <table id="Branches_Table" class="dataTable border bordered no-footer" data-role="datatable" data-auto-width="false" 
            role="grid" aria-describedby="DataTables_Table_0_info">
            <thead>
                <tr role="row">
                    <td style="width: 20px"></td>
                    <td style="width: 100px" >Code</td>
                    <td style="width: 200px">Name</td>
                    <td >Address</td>
                    <td style="width: 200px">Telephone</td>
                    <td style="width: 20px">Status</td>
                </tr>
            </thead>
            <tbody>


                <tr *ngFor="let Branch of Branches" role="row" class="odd">
                    <td class="sorting_1">
                        <label class="input-control checkbox small-check no-margin">
                            <input type="checkbox" id="{{Branch.Id}}">
                            <span class="check"></span>
                        </label>
                    </td>
                    <td>{{Branch.Code}}</td>
                    <td>{{Branch.Name}}</td>
                    <td>
                        {{Branch.Address}}
                    </td>
                    <td class="align-center">{{Branch.Telephone}}</td>
                    <td class="align-center">
                        <span class="mif-checkmark fg-green"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
