<div class="login-form padding20 block-shadow" style="opacity: 1; transform: scale(1); transition: 0.5s;">
    <form [formGroup]="loginForm" (ngSubmit)="doLogin($event)">

        <h1 class="text-light">{{title}}</h1>
        <hr class="thin">
        <br>
        <div class="input-control text full-size" data-role="input">
            <label for="user_login">User Id:</label>
            <input type="text" 
            formControlName="user_id" 
            id="user_id" 
            style="padding-right: 36px;">
            <button class="button helper-button clear" (click)="clearUserId()"   tabindex="-1" type="button"><span class="mif-cross"></span></button>
        </div>
        <br>
        <br>
        <div class="input-control password full-size" data-role="input">
            <label for="user_password">User password:</label>
            <input type="{{ showPassword ? 'text': 'password' }}"
            formControlName="user_password"
            id="user_password" 
            style="padding-right: 36px;">
            <button class="button helper-button reveal" (click)="togglePassword()" tabindex="-1" type="button"><span class="mif-looks"></span></button>
        </div>
        <br>
        <br>
        <div class="form-actions">
            <button type="submit" [disabled]="!loginForm.valid" class="button  {{ loginForm.valid ? 'primary' : 'disabled' }} ">Login</button>
            <!-- <button type="button" class="button link">Cancel</button> -->
        </div>
    </form>
  </div>