.login-form {
    width: 25rem;
    height: 18.75rem;
    position: fixed;
    top: 40%;
    margin-top: -9.375rem;
    left: 50%;
    margin-left: -12.5rem;
    background-color: #ffffff;
    opacity: 0;
    -webkit-transform: scale(.8);
    transform: scale(.8);
}
.login-form h1{
font: 400 1.25rem/1.1 "Segoe UI", "Open Sans", sans-serif, serif
}